<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th></th><th>1X (12/16)</th><th>2X (18/20)</th><th>3X (22/24)</th></tr>
<tr>
<td valign="center">Bust</td>
<td>40.5”- 46”</td>
<td>46.5”- 50”</td>
<td>50.5”- 54”</td>
</tr>
<tr>
<td>Waist</td>
<td>33.5”- 40”</td>
<td>40.5”- 44”</td>
<td>44.5”- 48”</td>
</tr>
<tr>
<td>Hip</td>
<td>44.5”- 52”</td>
<td>52.5- 57”</td>
<td>57.5- 64”</td>
</tr>
</tbody>
</table>