<center><strong>MYNT 1792</strong></center>
<br />
<strong>Sizes 1X - 4X</strong><br />
<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th></th><th>X (12)</th><th>1X (14/16)</th><th>2X (18/20)</th><th>3X (22/24)</th><th>4X (26)</th></tr>
<tr>
<td valign="center">Bust</td>
<td>41”</td>
<td>45”</td>
<td>49”</td>
<td>54”</td>
<td>56”</td>
</tr>
<tr>
<td>Waist</td>
<td>32”</td>
<td>36”</td>
<td>39”</td>
<td>44”</td>
<td>47”</td>
</tr>
<tr>
<td>Hip</td>
<td>42”</td>
<td>46”</td>
<td>50”</td>
<td>54”</td>
<td>58”</td>
</tr>
</tbody>
</table>
<br/><strong>Sizes 12 - 26</strong>
<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th></th><th>12</th><th>14</th><th>16</th><th>18</th><th>20</th><th>22</th><th>24</th><th>26</th></tr>
<tr>
<td valign="center">Bust</td>
<td>41”</td>
<td>43”</td>
<td>45”</td>
<td>47”</td>
<td>49”</td>
<td>52”</td>
<td>54”</td>
<td>56”</td>
</tr>
<tr>
<td>Waist</td>
<td>32”</td>
<td>34”</td>
<td>36”</td>
<td>38”</td>
<td>40”</td>
<td>42”</td>
<td>44”</td>
<td>46”</td>
</tr>
<tr>
<td>Hip</td>
<td>42”</td>
<td>44”</td>
<td>46”</td>
<td>48”</td>
<td>50”</td>
<td>52”</td>
<td>54”</td>
<td>56”</td>
</tr>
</tbody>
</table>