<center><b><i>17 Sundays dresses have a generous fit</i></b></center>
<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th></th><th>14</th><th>16</th><th>18</th><th>20</th><th>22</th><th>24</th><th>26</th></tr>
<tr>
<td valign="center">Bust</td>
<td>39.3”- 41.3”</td>
<td>41.3”- 43.3”</td>
<td>43.3”- 45.2”</td>
<td>45.2”- 47.2”</td>
<td>47.2”- 49.6”</td>
<td>49.6”- 52”</td>
<td>52”- 54.3”</td>
</tr>
<tr>
<td>Waist</td>
<td>33.4”- 35.4”</td>
<td>35.4”- 37.4”</td>
<td>37.4”- 39.4”</td>
<td>39.4"- 41.3”</td>
<td>41.3”- 43.7”</td>
<td>43.7”- 46”</td>
<td>46”- 48.4”</td>
</tr>
<tr>
<td>Hip</td>
<td>41.7”- 43.7”</td>
<td>43.7”- 45.6”</td>
<td>45.6”- 47.6”</td>
<td>47.6"- 49.6”</td>
<td>49.6”- 52”</td>
<td>52”- 54.3”</td>
<td>54.3”- 56.7”</td>
</tr>
</tbody>
</table>
<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th></th><th>S</th><th>M</th><th>L</th><th>XL</th></tr>
<tr>
<td valign="center">Bust</td>
<td>41.3”- 44.5”</td>
<td>44.5”- 47.6”</td>
<td>47.6”- 50.8”</td>
<td>50.8”- 54.3”</td>
</tr>
<tr>
<td>Waist</td>
<td>41.3”- 44.5”</td>
<td>58.6”- 41.7”</td>
<td>41.7”- 44.8”</td>
<td>44.8”- 48.4”</td>
</tr>
<tr>
<td>Hips</td>
<td>43.7”- 46.8”</td>
<td>46.8”- 50”</td>
<td>50”- 53.15”</td>
<td>53.15”- 56.7”</td>
</tr>
</tbody>
</table>