<p>Yummie by Heather Thompson Size Chart — Slips</p>
<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th width="15%"></th><th width="15%">L/XL (12/14)</th><th width="15%">1X (14/16)</th><th width="15%">2X (18/20)</th><th width="15%">3X (22/24)</th></tr>
<tr>
<td valign="center">Waist</td>
<td>36”-39”</td>
<td>39”-41”</td>
<td>42”-44”</td>
<td>44”-46”</td>
</tr>
<tr>
<td>Hips</td>
<td>43”-48”</td>
<td>48”-50”</td>
<td>51”-53”</td>
<td>54”-56”</td>
</tr>
</tbody>
</table>
<p></p>
<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th></th><th>L/XL (12/14)</th><th>1X (14/16)</th><th>2X (18/20)</th><th>3X (22/24)</th><th>1X/2X (14-18)</th><th>2X/3X (18-24)</th></tr>
<tr>
<td valign="center">Waist</td>
<td>36”-39”</td>
<td>39”-41”</td>
<td>42”-44”</td>
<td>44”-46”</td>
<td>39”-42”</td>
<td>43”-46”</td>
</tr>
<tr>
<td>Hips</td>
<td>43”-48”</td>
<td>48”-50”</td>
<td>51”-53”</td>
<td>54”-56”</td>
<td>48”-51”</td>
<td>51”-56”</td>
</tr>
</tbody>
</table>
<p></p>
<table>
<tbody>
<tr><th></th><th>L/XL (12/14)</th><th>2X (18/20)</th><th>3X (22/24)</th><th>1X/2X (14-18)</th><th>2X/3X (18-24)</th></tr>
<tr>
<td valign="center">Waist</td>
<td>36”-39”</td>
<td>39”-41”</td>
<td>42”-44”</td>
<td>44”-46”</td>
<td>39”-42”</td>
</tr>
<tr>
<td>Hips</td>
<td>43”-48”</td>
<td>48”-50”</td>
<td>51”-53”</td>
<td>54”-56”</td>
<td>48”-51”</td>
</tr>
</tbody>
</table>