<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th></th><th>0X (10/12)</th><th>1X (14/16)</th><th>2X (18/20)</th><th>3X (22/24)</th><th>4X (26/28)</th><th>5X (30/32)</th></tr>
<tr>
<td valign="center">Bust</td>
<td>40.5”- 44”</td>
<td>44.5”- 48”</td>
<td>48.5”- 52”</td>
<td>52.5”- 56”</td>
<td>56.5”- 62”</td>
<td>62.5”- 68”</td>
</tr>
<tr>
<td>Waist</td>
<td>34.5”- 38”</td>
<td>38.5”- 42”</td>
<td>42.5”- 46”</td>
<td>46.5”- 50”</td>
<td>50.5”- 56”</td>
<td>56.5”- 62”</td>
</tr>
<tr>
<td>Hip</td>
<td>44.5”- 48”</td>
<td>48.5”- 52”</td>
<td>52.5”- 56”</td>
<td>56.5”- 60”</td>
<td>60.5”- 66”</td>
<td>66.5”- 72”</td>
</tr>
</tbody>
</table>