<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr>
<th></th>
<th>1X (14/16)</th>
<th>2X (18/20)</th>
<th>3X (22/24)</th>
</tr>
<tr>
<td valign="center">Bust</td>
<td>49”</td>
<td>52”</td>
<td>56.5”</td>
</tr>
<tr>
<td>Waist</td>
<td>46.5”</td>
<td>49.5”</td>
<td>53.5”</td>
</tr>
<tr>
<td> Low Hip</td>
<td>56”</td>
<td>59”</td>
<td>63”</td>
</tr>
</tbody>
</table>