<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th width="25%">US Size</th><th width="25%">Bust</th><th width="25%">Waist</th><th width="25%">Hips</th></tr>
<tr>
<td >12</td>
<td>46”</td>
<td>35.6”</td>
<td>46”</td>
</tr>
<tr>
<td>14</td>
<td>47.5”</td>
<td>38”</td>
<td>47.5”</td>
</tr>
<tr>
<td>16</td>
<td>49”</td>
<td>39.5”</td>
<td>49”</td>
</tr>
<tr>
<td>18</td>
<td>51”</td>
<td>41.5”</td>
<td>51”</td>
</tr>
<tr>
<td>20</td>
<td>53”</td>
<td>43.5”</td>
<td>53”</td>
</tr>
<tr>
<td>22</td>
<td>55”</td>
<td>45”.5</td>
<td>55”</td>
</tr>
<tr>
<td>24</td>
<td>57”</td>
<td>47.5”</td>
<td>57”</td>
</tr>
</tbody>
</table>