<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th></th><th><strong>14</strong></th><th><strong>16</strong></th><th><strong>18</strong></th><th><strong>20</strong></th><th><strong>22</strong></th><th><strong>24</strong></th></tr>
<tr>
<td valign="center"><strong>Bust</strong></td>
<td>43"</td>
<td>44.5"</td>
<td>46"</td>
<td>50"</td>
<td>50"</td>
<td>52"</td>
</tr>
<tr>
<td valign="center"><strong>Waist</strong></td>
<td>37"</td>
<td>38.5"</td>
<td>40"</td>
<td>44"</td>
<td>44"</td>
<td>46"</td>
</tr>
<tr>
<td valign="center"><strong>Hip</strong></td>
<td>47.5"</td>
<td>49"</td>
<td>50.5"</td>
<td>54.5"</td>
<td>54.5"</td>
<td>56.5"</td>
</tr>
</tbody>
</table>
<p></p>
<p>For any size related questions please email customer service at customercare@heygorgeous.com.</p>