<center><b><i>For James Jeans if you are between sizes we recommend you size down.</i></b></center>
<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th width="15%">US Size</th><th width="15%">Waist</th><th width="15%">Hips</th><th width="15%">Front Rise</th><th width="15%">Back Rise</th><th width="15%">Leg Opening</th></tr>
<tr>
<td valign="center">12</td>
<td>32"- 34"</td>
<td>40"- 42"</td>
<td>9.5"</td>
<td>16"</td>
<td>13"</td>
</tr>
<tr>
<td>14</td>
<td>34"- 36"</td>
<td>42"- 44"</td>
<td>9.5"</td>
<td>16"</td>
<td>13"</td>
</tr>
<tr>
<td>16</td>
<td>36"- 38"</td>
<td>45"- 46"</td>
<td>10"</td>
<td>16.5"</td>
<td>13"</td>
</tr>
<tr>
<td>18</td>
<td>38"- 42"</td>
<td>47"- 48"</td>
<td>10.5"</td>
<td>16.5"</td>
<td>13"</td>
</tr>
<tr>
<td>20</td>
<td>42"- 43"</td>
<td>48"- 50"</td>
<td>11"</td>
<td>17"</td>
<td>14"</td>
</tr>
<tr>
<td>22</td>
<td>43"- 44"</td>
<td>52"- 54"</td>
<td>11.5"</td>
<td>17.5"</td>
<td>14"</td>
</tr>
<tr>
<td>24</td>
<td>44"- 46"</td>
<td>54"- 56"</td>
<td>12"</td>
<td>18"</td>
<td>15"</td>
</tr>
</tbody>
</table>