<center> <b><i>Anna Scholz runs true to size.</i></b></center>

<table cellpadding="0" cellspacing="0" font="1">
<tbody>
  <tr><th></th><th>8</th><th>10<br />(S)</th><th>12<br />(S)</th><th>14<br />(M)</th><th>16<br />(M)</th><th>18<br />(L)</th><th>20<br />(L)</th><th>22<br />(XL)</th><th>24<br />(XL)</th></tr>
<tr>
<td valign="center">Bust</td>
<td>36.5”</td>
<td>38.5”</td>
<td>40.5”</td>
<td>42.5”</td>
<td>45”</td>
<td>47.25”</td>
<td>49.5”</td>
<td>52”</td>
<td>54.25”</td>
</tr>
<tr>
<td>Waist</td>
<td>29.5”</td>
<td>31.5”</td>
<td>33.5”</td>
<td>35.5”</td>
<td>37.5”</td>
<td>40.25”</td>
<td>42.5”</td>
<td>45”</td>
<td>47.25”</td>
</tr>
<tr>
<td>Hips</td>
<td>39.75”</td>
<td>41.75”</td>
<td>43.75”</td>
<td>45.75”</td>
<td>48”</td>
<td>50.5”</td>
<td>52.75”</td>
<td>55”</td>
<td>57.5”</td>
</tr>
</tbody>
</table>