<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th></th><th>L (12/14)</th><th>XL (16/18)</th><th>1X (18/20)</th><th>2X (22/24)</th><th>3X (26/28)</th></tr>
<tr>
<td valign="center">Bust</td>
<td>39”-42”</td>
<td>41”-44”</td>
<td>43”-46”</td>
<td>45”-48”</td>
<td>47”-50”</td>
</tr>
<tr>
<td>Waist</td>
<td>31”-34”</td>
<td>33”-36”</td>
<td>35”-38”</td>
<td>37”-40”</td>
<td>39”-42”</td>
</tr>
<tr>
<td>Hips</td>
<td>41”-44”</td>
<td>43”-46”</td>
<td>43”-46”</td>
<td>48”-51”</td>
<td>50”-53”</td>
</tr>
</tbody>
</table>