<table cellpadding="0" cellspacing="0" font="1">
<tbody>
<tr><th></th><th>L (10)</th><th>XL (12)</th><th>XXL (14/16)</th><th>XXXL (18/20)</th><th>XXXXL (22/24)</th></tr>
<tr>
<td valign="center">Length</td>
<td>29”</td>
<td>31”</td>
<td>32”</td>
<td>33”</td>
<td>34”</td>
</tr>
<tr>
<td>Width</td>
<td>22”</td>
<td>24”</td>
<td>26”</td>
<td>28”</td>
<td>30”</td>
</tr>
<tr>
<td>Sleeve</td>
<td>9”</td>
<td>9.5”</td>
<td>10”</td>
<td>10.5”</td>
<td>12”</td>
</tr>
</tbody>
</table>