<p><strong>Jeans:</strong></p>
<table width="100%">
<tbody>
<tr>
<td><em>in inches</em></td>
<td><strong>14W</strong></td>
<td><strong>16W</strong></td>
<td><strong>18W</strong></td>
<td><strong>20W</strong></td>
<td><strong>22W</strong></td>
<td><strong>24W</strong></td>
</tr>
<tr>
<td><strong>Waist</strong></td>
<td>37"</td>
<td>39"</td>
<td>41"</td>
<td>43"</td>
<td>45"</td>
<td>47"</td>
</tr>
<tr>
<td><strong>Low Hip</strong></td>
<td>46"</td>
<td>49"</td>
<td>50"</td>
<td>52"</td>
<td>54"</td>
<td>56"</td>
</tr>
</tbody>
</table>
<p><strong> </strong></p>
<p><strong>Tops:</strong></p>
<table width="100%">
<tbody>
<tr>
<td><em>in inches </em></td>
<td><strong>1X (14/16)</strong></td>
<td><strong>2X (18/20)</strong></td>
<td><strong>3X (22/24)</strong></td>
</tr>
<tr>
<td><strong>Chest</strong></td>
<td>43-45"</td>
<td>47-49"</td>
<td>51-53"</td>
</tr>
<tr>
<td><strong>Waist</strong></td>
<td>36-38"</td>
<td>40-42"</td>
<td>44-46"</td>
</tr>
</tbody>
</table>