<center><b><i>Kristin Miles runs small so please order a size larger</i></b></center>
<table cellpadding="0" cellspacing="0" font="1">
<tbody>
  <tr><th></th><th>1X<br />(14/16)</th><th>2X<br />(18/20)</th><th>3X<br />(22/24)</th></tr>
<tr>
<td valign="center">Bust</td>
<td>43”</td>
<td>46”</td>
<td>49”</td>
</tr>
<tr>
<td>Length</td>
<td>39”</td>
<td>42”</td>
<td>45”</td>
</tr>
<tr>
<td>Waist</td>
<td>43”</td>
<td>46”</td>
<td>49”</td>
</tr>
</tbody>
</table>
<p><strong>*Please note Kristin Miles runs small.</strong></p>