<div class="page">
<h2>{{ page.title }}</h2>
<div id="modmedia-lookbooks" class="list">
            <div id="lookbook-modmedia-container">
            </div>
</div>
{{ page.content }}
<script type="text/javascript">
var modlookbook_exist=false;
  var modlookbook_url = 'http://shopifyexpert.com.au/lookbook/assets/templates/heygorgeous.myshopify.com/mod_media_lightbox_list_a5fc9.js?t=1398451406';
    var modlookbook_scripts = document.getElementsByTagName('script');
    for (var i = modlookbook_scripts.length; i--;) {
      if (modlookbook_scripts[i].src == modlookbook_url){
        modlookbook_exist=true;
      };
    }
  if(!modlookbook_exist){
Shopify.money_with_currency_format = "{{ shop.money_with_currency_format }}";
var pages_content = {'test':{{ pages.test.content | json }}};
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.src = "http://shopifyexpert.com.au/lookbook/assets/templates/heygorgeous.myshopify.com/mod_media_lightbox_list_a5fc9.js?t=1398451406";
    document.getElementsByTagName("head")[0].appendChild(s);
}
</script>
</div>



<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
   $("img").addClass("scale-with-grid"); 
});
</script>